@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cormorant+Garamond:wght@300;400;600&display=swap');

}
header h1{
  font-family: "Cinzel";
  font-weight:700;
  letter-spacing:0.6px;
  margin:0;
  font-size:28px;
  color:var(--ink);
}

header p{
  margin:6px 0 0;
  color:var(--muted);
  font-size:15px;
  font-family: "Cormorant Garamond";
}

